@import 'tailwindcss';
@import '@repo/tailwind-config';

@custom-variant dark (&:where(.dark, .dark *));

.noscrollbar::-webkit-scrollbar {
    display: none;
}

.noscrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@layer base {
    :root {
        background: rgb(240, 240, 240);
    }
}

.dark {
    background: rgb(38, 38, 38);
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(var(--orbitr)) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(var(--orbitr)) rotate(-360deg);
  }
}